#nav-bar{
    border: 1px solid black;
    padding:3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-bar>div{
    width:40%;
}

#nav-bar>div:nth-child(2){
    border: 1px solid green;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-user-circle{
    font-size: 50px;
}

#nav-bar>div:first-child>img{
    height: 100px;
    width:100px;
  
}

#img-section{
    height:400px;
    width:90%;
    margin: auto;
    background-image: url("https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1899,h_805/v1613521692/assets/d9/ce6c00-32b0-4b93-9f0d-6f927d93da08/original/Rider_Home_bg_desktop2x.png");
    background-position: center;
    background-size: contain;
    margin-top: 30px;
    border-radius: 5px;
}  

#booking-section{
    height: 400px;
    width:90%;
    margin: auto;
    margin-top: 30px;
    border:1px solid black;
    border-radius: 5px;
}

#info-section{
    width:90%;
    margin: auto;
}

#info-section>div{
    display: flex;
    justify-content: space-between;
    width:100%;
}

#info-section >div img{
    width:98%;
}

#footer{
    background-color: gray;
    height:300px;
    width:100%;
}

